* {
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e6e6;
    /*background-image: url("background (2).png");*/
    background-image: url("Driving Together (1).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 50px;
}

/*navbar*/
#header{

   width: 100%;
    overflow: auto;
    background: #197067;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure the nav bar appears on top */
    display: flex;
    justify-content: space-between;

}

#navbar{
    padding: 10px;
    margin: 10px ;
    list-style: none;
    display: flex;
}

#navbar li a{
    margin-right: 20px;
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    text-align: center;

}

#navbar li a:hover{
     background: #03453f;
    text-transform: uppercase;
}

#nav-button{
    margin-right: 10px;
    /*background-color: red;*/
}

.btn{
    padding: 15px 20px;
    margin: 10px 5px;
    border-radius: 25px;
    background-color: rgb(94, 150, 148);
    border-color: white;
    border-width: 2px;
}

.btn a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.btn:hover{
    transform: scale(1.06);
    background-color:#0a3833;
}

.bodyy{
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
    text-align: center;

}
.bodyy h1{
    color:#0a3833 ;
    font-size: 50px;
    /*padding-top: 50px;*/
    /*text-align: center;*/
}
.bodyy h2, h3{
    color:#0a3833 ;
    /*padding-top: 50px;*/
    /*text-align: center;*/
}

.submit {
    padding: 10px 20px;
    background-color: #197067;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit a{
    text-decoration: none;
    color: #ffffff;
}

.submit:hover{
    transform: scale(1.06);
    background-color:#0a3833;
    border-width: 5px;
    border-color: white;
}
.search-input{
    background-color: #e6e6e6;
    font-weight: bold;
    color:#0a3833 ;
    font-size: 20px;
    /*border:none;*/
    /*outline: none;*/
}

.button-container{
    display: flex;
    padding-right: 10px
}

.button {
    margin-right: 25px;
}

.button-container.submit-link{
    display: inline-block;
    white-space: nowrap;
    padding: 10px;
    margin: 5px;
    width: 200px;
    background-color:#197067;
    text-align: center;
    border-radius: 30px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.button-container.submit-link:hover{
    transform: scale(1.06);
    background-color:#0a3833;
    border-width: 5px;
    border-color: white;
}

.button-container.submit-link:focus {
    outline: none; /* Remove focus outline */
}

#registerToRide{
    visibility: hidden;

}

.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  /*border-bottom:1px dashed #0a3833; !* little indicater to indicate it's hoverable *!*/
    font-size: 12px;


}
.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */

  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#197067;
  color: #fff;
  text-align:center;

  display:none; /* hide by default */
}

.tooltip:after {
  content: "";
  position:absolute;

  /* position tooltip correctly */
  left:100%;
  margin-left:-5px;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* the arrow */

  border:10px solid #197067;
  border-color: transparent #197067 transparent transparent;

  display:none;
}
.tooltip:hover:before, .tooltip:hover:after {
  display:block;
}

/*.tooltip:hover:before {
  display:block;
}*/
/*form*/


.input-control.error[unchosen-error]{
    border-color: #c92432;
    color: #c92432;
    visibility: hidden;

}

.input-control.error[unchosen-error]::before{
    content: attr(unchosen-error);
}

.open-error.input-control.error.systemMessage {
    visibility: visible; !important;
}

.open-error.input-control.error#systemMessageHistPage {
    visibility: visible; !important;
}

.open-error.input-control.error#systemMessageSchdlPage {
    visibility: visible; !important;
}

.checkbtn{
    font-size: 30px;
    display: none;
}

#check{
    display: none;
}

@media (max-width:1125px) {
    .checkbtn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        gap: 20px;
        position: fixed;
        width: 100%;
        height: 150vh;
        background: #03453f;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #navbar li a:hover {
        color: aquamarine;
        text-transform: none;
        background: none;
    }

    #check:checked ~ ul {
        left: 0;
    }
}