{% extends 'base.html' %}
 {% block page_head %}
    <title>Show Travel</title>
     {{ super() }}
        {% block page_head_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}"/>
        {% endblock %}
    {% endblock %}


{% block page_body_main_content %}

<div class="form container">
    <div class="title">Travel Details</div>
    <form id="tripForm" action="/newTravel" method="POST"  >
            <div class="input-box">
                <label>Source</label>
                <div class="location-inputs">
                    <div class="input-control">
                        <input id="citySource" name="citySource" type="text" disabled placeholder="{{details.Source}}">
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <input id="streetSource" name="streetSource" type="text" placeholder="{{details.Street_Source}}" disabled>
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <input id="numberSource" name="numberSource" type="number" placeholder="{{details.Number_Source}}" disabled>
                        <div class="error"></div>
                    </div>
                </div>

            </div>


            <div class="input-box">
                <label>Destination</label>
                <div class="location-inputs">
                    <div class="input-control">
                        <input id="cityDestination" name="cityDestination" type="text" disabled placeholder="{{details.Destination}}" >
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <input id="streetDestination" name="streetDestination" type="text" placeholder="{{details.Street_Destination}}" disabled>
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <input id="numberDestination" name="numberDestination" type="number" placeholder="{{details.Number_Destination}}" disabled>
                        <div class="error"></div>
                    </div>
                </div>
            </div>

        <div class="input-row">
            <div class="input-box ">
                <label>Date</label>
                <div class="input-control">
                    <input id="dateTrip" name="dateTrip" type="text" disabled placeholder="{{details.Date}}"><!--required-->
                    <div class="error"></div>
                </div>
            </div>

            <div class="input-box">
                <label>Time</label>
                <div class="input-control">
                    <input id="timeTrip" name="timeTrip" type="text" disabled placeholder="{{details.Time}}"><!--required-->
                    <div class="error"></div>
                </div>
            </div>

            <div class="input-box">
                <label>Number of Places</label>
                <div class="input-control">
                    <input id="numOfPlc" name="numOfPlc" type="number"  min="1" max="50" disabled placeholder="{{details.Max}}"><!--required-->
                    <div class="error"></div>
                </div>
            </div>

            <div class="input-box">
                <label>Price</label>
                <div class="input-control">
                    <input id="price" name="price" type="number" min="1" max="1000" disabled placeholder="{{details.Price}}"><!--required-->
                    <div class="error"></div>
                </div>
            </div>
        </div>


        <div class="input-box">
            <label>Comments</label>
            <textarea placeholder="{{details.Comment}}" rows="4" disabled ></textarea>
        </div>

        <div class="button">
                <input type="submit" class="submit" id="editTrip"  value="Duplicate" disabled>
        </div>
    </form>
</div>
{% endblock %}

{% block page_body_js %}
<script type="module" src="{{url_for('showTravel.static',filename='showTravel.js')}}"></script>
{% endblock %}

