{% extends 'base.html' %}
 {% block page_head %}
    <title> Travel Schedule</title>
     {{ super() }}
        {% block page_head_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"/>
            <link rel="stylesheet" href="{{ url_for('travelSchedule.static', filename='travelSchedule.css') }}"/>
        {% endblock %}
    {% endblock %}


{% block page_body_main_content %}

<section class="bodyy">


<h2>Travel schedule</h2>
    <br>
    <th><input type="date" class="search-input dateSearch"  placeholder="Search by date..."></th>
    <th><input type="text" class="search-input sourceSearch" placeholder="Search by Source..."></th>
    <th><input type="text" class="search-input destinationSearch"  placeholder="Search by Destination..."></th>
    <br>

    <div class= "input-control error" id="systemMessageSchdlPage" unchosen-error="Please choose a ride first"></div> <!--- figure out how to display it!! --->
<table action="/register_for_ride" class="table travelScheduleTable" id="travelScheduleTable"> <!---i think we can remove action="/register_for_ride" --->
    <thead>
        <tr>
            <th>Select</th>
            <th>Date </th>
            <th>Time </th>
            <th>Source </th>
            <th>Destination</th>
            <th>Max</th>
            <th>Driver </th>
            <th>Price </th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for record in travels %}
        <tr>
            <td><input type="radio" name="selectRow" value="{{ record._id }}"></td>
            <td>{{ record.Date }}</td>
            <td>{{ record.Time }}</td>
            <td>{{ record.Source }}</td>
            <td>{{ record.Destination }}</td>
            <td>{{ record.Max }}</td>
            <td>{{ record.Driver }}</td>
            <td>{{ record.Price }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
</section>
<div class="container">
     <button type="submit" class="submit" name="selectRowButton" id="registerButton" onclick="registerForRide()">Register</button>
        <div class="popup" id="popup">
            <img src="/static/media/img/tick.png">
            <h2>Thank You!</h2>
            <p>You registered successfully for the ride</p>
<!--            <button type="button" onclick="closePopup()">OK</button>-->
            <button type="button" onclick="closePopupAndRedirect()">OK</button>
        </div>
 </div>

{% endblock %}

{% block page_body_js %}
<script src="{{url_for('travelSchedule.static', filename='travelSchedule.js') }}"></script>
{%endblock%}