{% extends 'base.html' %}
    {% block page_head %}
    <title> sign up</title>
     {{ super() }}
        {% block page_head_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}"/>
        {% endblock %}
    {% endblock %}

    {% block page_body_main_content %}

        <div class="form container" >
            <div class="title">Sign Up</div>
            <p class="success register-success"></p>
           <form id="customerForm" action="/signUp" method="POST">
               {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
               {% endif %}
                <div class="input-row">
                    <div class="input-control">
                        <label for="firstName">First Name (*)</label>
                        <input id="firstName" name="firstName" type="text" placeholder="Enter your first name" > <!--required-->
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <label>Last Name (*)</label>
                        <input id="lastName" name="lastName" type="text" placeholder="Enter your last name" ><!--required-->
                        <div class="error"></div>
                    </div>
                </div>
                 <div class="input-row">
                    <div class="input-control">
                        <label>Phone Number (*)</label>
                        <input id= "phone" name="phone" type="text" placeholder="Enter your phone number" > <!--required-->
                        <div class="error"></div>
                    </div>

                    <div class="input-control">
                        <label>Email (*)</label>
                        <input id="email" name="email" type="email" placeholder="Enter your email" > <!--required-->
                        <div class="error"></div>
                    </div>
                </div>

                 <div class="input-row">
                     <div class="input-control">
                        <label>Password (*) </label>
                         <span data-text="Password should contain between 8 to 14 characters, upper and lowercase letters, at least one number and at least one special character." class="tooltip">(?)</span>
                        <input id="password" name= "password" type="password" placeholder="Enter your password" > <!--required-->
                        <div class="error"></div>
                    </div>

                    <div class="input-control">
                        <label>Confirm Password (*)</label>
                        <input id="password2" name= "password2" type="password" placeholder="Enter your password2" > <!--required-->
                        <div class="error"></div>
                    </div>
                </div>

                 <div class="input-row">
                    <div class="input-control">
                        <label>Birthday Date</label>
                        <input type="date" name="bd"  > <!--required-->
                    </div>

                    <div class="input-control">
                        <label>Gender</label>
                        <select  name="Gender" class="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                    </div>
                </div>

        <!--        <div class="input-control">-->
                        <label>Address</label>
                        <div class="location-inputs">
                            <div class="input-control">
                                <input id="city" name="city" type="text" placeholder="City" > <!--required-->
                                <div class="error"></div>
                            </div>
                            <div class="input-control">
                                <input id="street" name="street" type="text" placeholder="Street" disabled > <!--required-->
                                <div class="error"></div>
                            </div>
                            <div class="input-control">
                                <input id="number" name="number" type="number" placeholder="No." disabled> <!--required-->
                                <div class="error"></div>
                            </div>
                        </div>
                        <br>
        <!--        </div>-->

                <div class="checkbox">
                        <label>
                            <input type="checkbox" > I have a license
                        </label>
                </div>

                <div class="checkbox">
                        <label >
                            <input type="checkbox" required > All the details are correct
                        </label>
                </div>

                <br>
               <input type="submit" class="submit"  value="Register"></input>

            </form>
        </div>

{% endblock %}
{% block page_body_js %}
<script type="module" src="{{url_for('signUp.static',filename='signUp.js')}}"></script>
{% endblock %}
