
{% extends 'base.html' %}
    {% block page_head %}
    <title> login</title>
     {{ super() }}
        {% block page_head_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}"/>
        {% endblock %}
    {% endblock %}

    {% block page_body_main_content %}
    <div class="form container">
    <div class="title">Login</div>


    <form action="/login" method="POST">
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
        <label><b>Username</b></label>
          <label>
              <input type="text" placeholder="Enter Email" name="email" required>
          </label>

          <label><b>Password</b></label>
          <label>
              <input type="password" placeholder="Enter Password" name="password" required>
          </label>

        <button type="submit" class="submit">Login</button>

        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
          <br>
          <br>
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>

    </form>
    Don't have an account? <a href="../../signUp/templates/signUp.html">sign up</a>
    </div>

    {% endblock %}




