{% extends 'base.html' %}
 {% block page_head %}
    <title> Travel History</title>
     {{ super() }}
        {% block page_head_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"/>
        {% endblock %}
    {% endblock %}


{% block page_body_main_content %}

    <section class="bodyy">


        <h2>My Travels</h2>

    <br>
    <th><input type="date" class="search-input dateSearch" placeholder="Search by date..."></th>
    <th><input type="text" class="search-input sourceSearch" placeholder="Search by Source..."></th>
    <th><input type="text" class="search-input destinationSearch" placeholder="Search by Destination..."></th>
        <br>
    <div class="input-control error" id="systemMessageHistPage" unchosen-error="Please choose a ride first"></div>
<table class="table travelScheduleTable" id="travelScheduleTable">
    <thead>
        <tr>
            <th>Select</th>
            <th>Date </th>
            <th>Time </th>
            <th>Source </th>
            <th>Destination</th>
            <th>Max</th>
            <th>Driver </th>
            <th>Price </th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for record in tremps %}
            {% if record.User_email == session.email %}
                <tr>
                    <td><input type="radio" name="selectRow" value="{{ record._id }}"></td>
                    <td>{{ record.Date }}</td>
                    <td>{{ record.Time }}</td>
                    <td>{{ record.Source }}</td>
                    <td>{{ record.Destination }}</td>
                    <td>{{ record.Max }}</td>
                    <td>
                        {% if record.Driver_email == session.email %}
                            Me
                        {% else %}
                            {{ record.Driver }}
                        {% endif %}
                    </td>
                    <td>{{ record.Price }}</td>
                </tr>
        {% endif %}
        {% endfor %}
    </tbody>

</table>
</section>
<button type="submit" class="submit right-aligned" id="showTravelButton" onclick="checkRadio()" value="{{userName}}" >Show Travel</button>
<!--onclick="redirectToShowTravel()-->
{% endblock %}

{% block page_body_js %}
<script src="{{url_for('travelSchedule.static', filename='travelSchedule.js') }}"></script>
<script src="{{url_for('travelHistory.static', filename='travelHistory.js') }}"></script>
{% endblock %}
