<header id="header">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <img src="/static/icons8-menu-50%20(1).png">
        </label>
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/travelSchedule">Travel Schedule</a></li>
            <li><a href="/travelHistory">My History</a></li>
            <li><a href="/newTravel">New Travel</a></li>
        </ul>
    </nav>

    <div id="nav-button">
        <button class="btn" id="logonBtn"><a href="/login">Sign In</a> </button>
        <button class="btn" id="signUpBtn"><a href="/signup">Sign Up</a> </button>
        <button class="btn" id="logOutBtn"><a href="/entry">Logout</a> </button>
    </div>
</header>
