{% extends 'base.html' %}

    {% block page_head %}
    <title> Home</title>
     {{ super() }}
        {% block page_head_css %}
            <link rel="stylesheet" href="{{ url_for('home.static', filename='home.css') }}"/>
        {% endblock %}
    {% endblock %}


{% block page_body_main_content %}
<br>
<br>
{% if session.get('logged_in') %}
    <h2 class="Hello">Hello {{session.get('username', 'Unknown') }}, let's drive together!</h2>
{% else %}
    <h3>Email: ***</h3>
{% endif %}
    <div >
        <ul class="menu">
            <li class="box"><a href="/travelSchedule">Travel schedule</a></li>
            <li class="box"><a href="/travelHistory">My travel history</a></li>
            <li class="box"><a href="/newTravel">Create a new trip</a></li>
        </ul>
    </div>

{% endblock %}
