{% extends 'base.html' %}

    {% block page_head %}
    <title> Home</title>
     {{ super() }}
        {% block page_head_css %}
            <link rel="stylesheet" href="{{ url_for('home.static', filename='home.css') }}"/>
        {% endblock %}
    {% endblock %}

<!--{% block title %}Home{% endblock %}-->

{% block page_body_main_content %}
<!--):-->
<!--<link rel="stylesheet" href="/pages/home/static/home.css">-->
<!--):-->
    <div >
        <ul class="menu">
            <li class="box"><a href="/travelSchedule">Travel schedule</a></li>
            <li class="box"><a href="/travelHistory">My travel history</a></li>
            <li class="box"><a href="/newTravel">Create a new trip</a></li>
        </ul>
    </div>


{% if session.get('logged_in') %}
    <h3>Email: {{session.get('email')}}</h3>
{% else %}
    <h3>Email: ***</h3>
{% endif %}


{% endblock %}
